<div id="header-container">
  {{#header}}
  <div id="header" class="width">
    <div id="logo">
      {{#slogan}}
      <div id="slogan"><span>{{slogan}}</span></div>
      {{/slogan}}
      {{#external}}
        <a href="{{href}}" target="_blank" class="ghz">
          <img src="{{logo}}" height="40"/>
        </a>
      {{/external}}
      {{#home}}
        <a href="/" class="tonal header-logo">
          <div class="lining">
            {{#logo}}
              <img src="{{logo}}" height="{{#height}}{{height}}{{/height}}{{^height}}40{{/height}}"/>
            {{/logo}}
            {{#text-logo}}{{text-logo}}{{/text-logo}}
          </div>
        </a>
      {{/home}}
    </div>
  </div>
  {{/header}}
</div>
<div id="container" class="width">
  <div id="content">
    {{{content}}}
  </div>
</div>
<div id="footer-container">
  <div id="footer" class="width">
    {{#footer}}
    <div id="footer-links">
    {{#links}}
      <a href="{{href}}">{{text}}</a><span class="slash">&nbsp;/&nbsp;</span>
    {{/links}}
    </div>
    {{/footer}}
    <div class="copyright">
      {{#company}}
          &copy; Copyright 2015, <a href="{{link}}">{{name}}</a>
      {{/company}}
    </div>
  </div>
</div>